.footer {
    background-color: $footer-hero-bg-color;
  
    padding: 60px 0;
  
    &__container {
      display: flex;
    }
  }
  
  .footer__box-links {
    padding-top: 12px;
    margin-left: 70px;
  
    & > .list {
      display: flex;
    }
  
    &:last-child {
      margin-left: auto;
    }
  }
  
  .box-links__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .box-links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    background-color: rgba(255, 255, 255, 0.1);
    fill: $logo-down-color;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }